*{
    background-color: rgba(216, 100, 150, 0.416);     
}
#Rosa{
   font-style: italic; 
}
h1{
    color:rgb(17, 26, 26);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#Poema{
    font-style: italic;
    text-align: center; 
}
 
#tomas a:hover{
    background-color: brown;
}
