        *{
            padding: 0%;
            margin: 10;
        }
        header{
            padding: 10px;px;
            margin: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:salmon;
            color:black;
            text-decoration: underline;

        }
        nav{
                text-align: right;

                            padding: 10px;
                            text-decoration: none;
                            font-size: 1rem;
                            color:#00ff00;
                            padding:20px

            }
            .hover a {
                background-color: lightgray;
                font-weight: bold;
            }

        .desaparece{
            opacity: 0.000000001;
        }
        .sticky-header{
            position: sticky;
            top: 0;
            background-color: red;
            padding: 20px;
            z-index: 999;
        }

                .menu {
                    background-color: #f1f1f1;
                    overflow: hidden;
                }


                
                .menu a {
                    float: left;
                    display: block;
                    color: #333;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                .dropdown {
                    float: left;
                    overflow: hidden;
                }

                .dropdown .dropbtn {
                    font-weight: bold;
                    border: none;
                    outline: none;
                    color: #333;
                    background-color: inherit;
                    font-family: inherit;
                    margin: 0;
                    padding: 14px 16px;
                }

                .menu a:hover,
                .dropdown:hover .dropbtn {
                    background-color: #ddd;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    float: none;
                    color: #333;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

                .dropdown:hover .dropdown-content {
                    display: block;
                }
                .ativo {
                    background-color: #ff0000; /* Defina a cor desejada */
                    color: #ffffff; /* Defina a cor do texto, se necessário */
                }
        


