*{
    padding: 10px;
    margin: 0;
    background-color: #f8e3dd;
}

header{

    color:#C55F4E ;
    padding: 10;

}
header nav{
    padding: 10;
}

nav{
    background-color: #EEB1A2;   

}

main{

}
