*Propriedades{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-family: 'Courier New', Courier, monospace;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
     
}

main .foo{
    width: 100vw;
    height: 50vh;
    background-color: aqua;
}

/*{background-color: rgba(243, 177, 206, 0.416);  }
 /*#Rosa{color:rgb(128, 128, 17) }
   #Tomás{color:rgb(2, 137, 92);} 
   #Rosita{ color:rgb(24, 33, 33);}
   #Luís{color: rgb(136, 85, 17);}
   #Rosi{ color:rgb(121, 68, 3)}

   #Tomasia{color: rgb(149, 81, 213);
    style="width: 100vw; height: 50vh;"
    font-size:;
}*/

   


